{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so‘zni o‘zgartirish{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">

        <h2 class="mb-3 text-center">🔐 Kalit so‘zni o'zgartirish</h2>

        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}

          <button type="submit" class="btn btn-success w-100 mt-3">
            kirish
          </button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock content %}
